<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:alert].present? %>
	<% flash[:alert].each do |alert| %>
		<div class="alert">
			<%= alert %>
		</div>
	<% end %>
<% end %>

<%= yield %>

</body>
</html>
